In [1]:
import numpy as np
import pandas as pd
import math
from numpy import delete
from tqdm import tqdm
import random

In [2]:
users = pd.read_csv('u.user', sep='|', names=['u_id','age','sex', 'occupation','zip_code'], encoding='latin-1')
ratings = pd.read_csv(r'u.data',sep='\t', names=['u_id','m_id','rating','unix_timestamp'],encoding='latin-1')
movies = pd.read_csv('u.item',sep='|',names=['m_id','title','release_date','video_release_date','imdb_url'],usecols=range(5),encoding='latin-1')
movie_ratings = pd.merge(movies, ratings) 
alls = pd.merge(movie_ratings, users)
print(alls)

       m_id                                   title release_date  \
0         1                        Toy Story (1995)  01-Jan-1995
1         4                       Get Shorty (1995)  01-Jan-1995
2         5                          Copycat (1995)  01-Jan-1995
3         7                   Twelve Monkeys (1995)  01-Jan-1995
4         8                             Babe (1995)  01-Jan-1995
5         9                 Dead Man Walking (1995)  01-Jan-1995
6        11                    Seven (Se7en) (1995)  01-Jan-1995
7        12              Usual Suspects, The (1995)  14-Aug-1995
8        15               Mr. Holland's Opus (1995)  29-Jan-1996
9        17              From Dusk Till Dawn (1996)  05-Feb-1996
10       19                   Antonia's Line (1995)  01-Jan-1995
11       21           Muppet Treasure Island (1996)  16-Feb-1996
12       22                       Braveheart (1995)  16-Feb-1996
13       23                      Taxi Driver (1976)  16-Feb-1996
14       24              Rumble in the Bronx (1995)  23-Feb-1996
15       25                    Birdcage, The (1996)  08-Mar-1996
16       28                        Apollo 13 (1995)  01-Jan-1995
17       30                    Belle de jour (1967)  01-Jan-1967
18       31                     Crimson Tide (1995)  01-Jan-1995
19       32                            Crumb (1994)  01-Jan-1994
20       42                           Clerks (1994)  01-Jan-1994
21       44                Dolores Claiborne (1994)  01-Jan-1994
22       45              Eat Drink Man Woman (1994)  01-Jan-1994
23       47                          Ed Wood (1994)  01-Jan-1994
24       48                      Hoop Dreams (1994)  01-Jan-1994
25       49                             I.Q. (1994)  01-Jan-1994
26       50                        Star Wars (1977)  01-Jan-1977
27       54                         Outbreak (1995)  01-Jan-1995
28       55                Professional, The (1994)  01-Jan-1994
29       56                     Pulp Fiction (1994)  01-Jan-1994
...     ...                                     ...          ...
99970   332                   Kiss the Girls (1997)  01-Jan-1997
99971   334                           U Turn (1997)  01-Jan-1997
99972   338                             Bean (1997)  01-Jan-1997
99973   346                     Jackie Brown (1997)  01-Jan-1997
99974   682  I Know What You Did Last Summer (1997)  17-Oct-1997
99975   873                  Picture Perfect (1997)  01-Aug-1997
99976   877                   Excess Baggage (1997)  01-Jan-1997
99977   886            Life Less Ordinary, A (1997)  01-Jan-1997
99978  1527                        Senseless (1998)  09-Jan-1998
99979   272                Good Will Hunting (1997)  01-Jan-1997
99980   288                           Scream (1996)  20-Dec-1996
99981   294                        Liar Liar (1997)  21-Mar-1997
99982   300                    Air Force One (1997)  01-Jan-1997
99983   310                   Rainmaker, The (1997)  01-Jan-1997
99984   313                          Titanic (1997)  01-Jan-1997
99985   322                   Murder at 1600 (1997)  18-Apr-1997
99986   328                Conspiracy Theory (1997)  08-Aug-1997
99987   333                        Game, The (1997)  01-Jan-1997
99988   338                             Bean (1997)  01-Jan-1997
99989   346                     Jackie Brown (1997)  01-Jan-1997
99990   354              Wedding Singer, The (1998)  13-Feb-1998
99991   362              Blues Brothers 2000 (1998)  06-Feb-1998
99992   683                       Rocket Man (1997)  01-Jan-1997
99993   689                      Jackal, The (1997)  01-Jan-1997
99994   690             Seven Years in Tibet (1997)  01-Jan-1997
99995   748                       Saint, The (1997)  14-Mar-1997
99996   751              Tomorrow Never Dies (1997)  01-Jan-1997
99997   879                  Peacemaker, The (1997)  01-Jan-1997
99998   894                     Home Alone 3 (1997)  01-Jan-1997
99999   901                        Mr. Magoo (1997)  25-Dec-1997

       video_release_date                                           imdb_url  \
0                     NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...
1                     NaN  http://us.imdb.com/M/title-exact?Get%20Shorty%...
2                     NaN  http://us.imdb.com/M/title-exact?Copycat%20(1995)
3                     NaN  http://us.imdb.com/M/title-exact?Twelve%20Monk...
4                     NaN     http://us.imdb.com/M/title-exact?Babe%20(1995)
5                     NaN  http://us.imdb.com/M/title-exact?Dead%20Man%20...
6                     NaN    http://us.imdb.com/M/title-exact?Se7en%20(1995)
7                     NaN  http://us.imdb.com/M/title-exact?Usual%20Suspe...
8                     NaN  http://us.imdb.com/M/title-exact?Mr.%20Holland...
9                     NaN  http://us.imdb.com/M/title-exact?From%20Dusk%2...
10                    NaN  http://us.imdb.com/M/title-exact?Antonia%20(1995)
11                    NaN  http://us.imdb.com/M/title-exact?Muppet%20Trea...
12                    NaN  http://us.imdb.com/M/title-exact?Braveheart%20...
13                    NaN  http://us.imdb.com/M/title-exact?Taxi%20Driver...
14                    NaN  http://us.imdb.com/M/title-exact?Hong%20Faan%2...
15                    NaN  http://us.imdb.com/M/title-exact?Birdcage,%20T...
16                    NaN  http://us.imdb.com/M/title-exact?Apollo%2013%2...
17                    NaN  http://us.imdb.com/M/title-exact?Belle%20de%20...
18                    NaN  http://us.imdb.com/M/title-exact?Crimson%20Tid...
19                    NaN    http://us.imdb.com/M/title-exact?Crumb%20(1994)
20                    NaN   http://us.imdb.com/M/title-exact?Clerks%20(1994)
21                    NaN  http://us.imdb.com/M/title-exact?Dolores%20Cla...
22                    NaN  http://us.imdb.com/M/title-exact?Yinshi%20Nan%...
23                    NaN  http://us.imdb.com/M/title-exact?Ed%20Wood%20(...
24                    NaN  http://us.imdb.com/M/title-exact?Hoop%20Dreams...
25                    NaN     http://us.imdb.com/M/title-exact?I.Q.%20(1994)
26                    NaN  http://us.imdb.com/M/title-exact?Star%20Wars%2...
27                    NaN  http://us.imdb.com/M/title-exact?Outbreak%20(1...
28                    NaN             http://us.imdb.com/Title?L%E9on+(1994)
29                    NaN  http://us.imdb.com/M/title-exact?Pulp%20Fictio...
...                   ...                                                ...
99970                 NaN  http://us.imdb.com/M/title-exact?Kiss+the+Girl...
99971                 NaN             http://us.imdb.com/Title?U+Turn+(1997)
99972                 NaN       http://us.imdb.com/M/title-exact?Bean+(1997)
99973                 NaN  http://us.imdb.com/M/title-exact?imdb-title-11...
99974                 NaN  http://us.imdb.com/M/title-exact?I+Know+What+Y...
99975                 NaN  http://us.imdb.com/M/title-exact?Picture+Perfe...
99976                 NaN  http://us.imdb.com/M/title-exact?Excess+Baggag...
99977                 NaN  http://us.imdb.com/M/title-exact?Life+Less+Ord...
99978                 NaN  http://us.imdb.com/M/title-exact?imdb-title-12...
99979                 NaN  http://us.imdb.com/M/title-exact?imdb-title-11...
99980                 NaN   http://us.imdb.com/M/title-exact?Scream%20(1996)
99981                 NaN          http://us.imdb.com/Title?Liar+Liar+(1997)
99982                 NaN  http://us.imdb.com/M/title-exact?Air+Force+One...
99983                 NaN  http://us.imdb.com/M/title-exact?Rainmaker,+Th...
99984                 NaN  http://us.imdb.com/M/title-exact?imdb-title-12...
99985                 NaN  http://us.imdb.com/M/title-exact?Murder%20at%2...
99986                 NaN  http://us.imdb.com/M/title-exact?Conspiracy+Th...
99987                 NaN  http://us.imdb.com/M/title-exact?Game%2C+The+(...
99988                 NaN       http://us.imdb.com/M/title-exact?Bean+(1997)
99989                 NaN  http://us.imdb.com/M/title-exact?imdb-title-11...
99990                 NaN  http://us.imdb.com/M/title-exact?Wedding+Singe...
99991                 NaN  http://us.imdb.com/M/title-exact?Blues+Brother...
99992                 NaN  http://us.imdb.com/M/title-exact?Rocket+Man+(1...
99993                 NaN  http://us.imdb.com/M/title-exact?Jackal%2C+The...
99994                 NaN  http://us.imdb.com/M/title-exact?Seven+Years+i...
99995                 NaN  http://us.imdb.com/M/title-exact?Saint%2C%20Th...
99996                 NaN  http://us.imdb.com/M/title-exact?imdb-title-12...
99997                 NaN  http://us.imdb.com/M/title-exact?Peacemaker%2C...
99998                 NaN  http://us.imdb.com/M/title-exact?imdb-title-11...
99999                 NaN  http://us.imdb.com/M/title-exact?imdb-title-11...

       u_id  rating  unix_timestamp  age sex occupation zip_code
0       308       4       887736532   60   M    retired    95076
1       308       5       887737890   60   M    retired    95076
2       308       4       887739608   60   M    retired    95076
3       308       4       887738847   60   M    retired    95076
4       308       5       887736696   60   M    retired    95076
5       308       4       887737194   60   M    retired    95076
6       308       5       887737837   60   M    retired    95076
7       308       5       887737243   60   M    retired    95076
8       308       3       887739426   60   M    retired    95076
9       308       4       887739056   60   M    retired    95076
10      308       3       887737383   60   M    retired    95076
11      308       3       887740729   60   M    retired    95076
12      308       4       887737647   60   M    retired    95076
13      308       5       887737293   60   M    retired    95076
14      308       4       887738057   60   M    retired    95076
15      308       4       887740649   60   M    retired    95076
16      308       3       887737036   60   M    retired    95076
17      308       4       887738933   60   M    retired    95076
18      308       3       887739472   60   M    retired    95076
19      308       5       887737432   60   M    retired    95076
20      308       4       887738191   60   M    retired    95076
21      308       4       887740451   60   M    retired    95076
22      308       4       887736843   60   M    retired    95076
23      308       4       887738933   60   M    retired    95076
24      308       4       887736880   60   M    retired    95076
25      308       3       887740833   60   M    retired    95076
26      308       5       887737431   60   M    retired    95076
27      308       2       887740254   60   M    retired    95076
28      308       3       887738760   60   M    retired    95076
29      308       5       887736924   60   M    retired    95076
...     ...     ...             ...  ...  ..        ...      ...
99970   631       3       888465180   18   F    student    38866
99971   631       2       888464941   18   F    student    38866
99972   631       2       888465299   18   F    student    38866
99973   631       4       888465004   18   F    student    38866
99974   631       2       888465247   18   F    student    38866
99975   631       2       888465084   18   F    student    38866
99976   631       2       888465131   18   F    student    38866
99977   631       4       888465216   18   F    student    38866
99978   631       2       888465351   18   F    student    38866
99979   729       4       893286638   19   M    student    56567
99980   729       2       893286261   19   M    student    56567
99981   729       2       893286338   19   M    student    56567
99982   729       4       893286638   19   M    student    56567
99983   729       3       893286204   19   M    student    56567
99984   729       3       893286638   19   M    student    56567
99985   729       4       893286637   19   M    student    56567
99986   729       3       893286638   19   M    student    56567
99987   729       4       893286638   19   M    student    56567
99988   729       1       893286373   19   M    student    56567
99989   729       1       893286168   19   M    student    56567
99990   729       5       893286637   19   M    student    56567
99991   729       4       893286637   19   M    student    56567
99992   729       2       893286511   19   M    student    56567
99993   729       4       893286638   19   M    student    56567
99994   729       2       893286149   19   M    student    56567
99995   729       4       893286638   19   M    student    56567
99996   729       3       893286338   19   M    student    56567
99997   729       3       893286299   19   M    student    56567
99998   729       1       893286511   19   M    student    56567
99999   729       1       893286491   19   M    student    56567

[100000 rows x 12 columns]

In [3]:
print('用户数:{0},---电影的数量:{1}<<<<'.format(len(set(alls['u_id'])),len(set(alls['m_id']))))

用户数:943,---电影的数量:1682<<<<

In [4]:
print('设置一个矩阵,横向是用户ID，纵向是电影的ID')
user_movie = np.zeros([943,1682])
for i in range(len(ratings.values)):
    user_movie[ratings.values[i][0]-1][ratings.values[i][1]-1]=ratings.values[i][2]
    
print('user_movie:',user_movie[:2,:])

设置一个矩阵,横向是用户ID，纵向是电影的ID
user_movie: [[ 5.  3.  4. ...,  0.  0.  0.]
 [ 4.  0.  0. ...,  0.  0.  0.]]

In [60]:
print('''
传入用户数据表data,测试用户ID，
''')
def user_nice(data, user_id, K):
    user = data[user_id]
    delete(data,user_id,axis=0)
    user_nn = np.zeros([len(data),len(data)])
    near_u = {}
    for i in tqdm(range(len(data))):
        near_u.update({cos_(user,data[i]):i})
    nice_ls = sorted(zip(near_u.keys(),near_u.values()))
    nice_out = []
    for j in range(80):   #len(nice_ls[:100])
        count = 0
        # 这里得到 最优的用户id
        this_one = data[nice_ls[j][1]]
        p = np.transpose(np.nonzero(this_one))
        l = np.transpose(np.nonzero(user))
        for n in p:
            if n not in l:
                nice_out+=[movies.values[n]]
                count+=1
            if count == K:
                print('数量足够一共{0},分别是{1}'.format(K,nice_out))
                return nice_out
#     print('没有足够数量，最后得到{0}'.format(nice_out))
#     return nice_out

传入用户数据表data,测试用户ID，

In [48]:
print('''
这个是余弦相似性公式： x，y均为行向量表示，返回x与y的相似度
''')
def cos_(x, y):
    x_ = np.ndarray([len(user_movie[0])])
    for i in range(len(user_movie[0])):
        x_[i] = x[i]
    y_ = np.ndarray([len(user_movie[0])])
    for i in range(len(user_movie[0])):
        y_[i] = y[i]
    
    return (np.sum(x_.T*y))/(np.sqrt(np.sum(x.T*x)*np.sum(y.T*y)))
# print(cos_(user_movie[1],user_movie[110]))

这个是余弦相似性公式： x，y均为行向量表示，返回x与y的相似度

In [61]:
dss=list(user_nice(user_movie, 100, 3))

100%|██████████████████████████████████████████████████████████████████████████████| 943/943 [00:00<00:00, 1093.83it/s]

数量足够一共3,分别是[array([[14, 'Postino, Il (1994)', '01-Jan-1994', nan,
        'http://us.imdb.com/M/title-exact?Postino,%20Il%20(1994)']], dtype=object), array([[15, "Mr. Holland's Opus (1995)", '29-Jan-1996', nan,
        "http://us.imdb.com/M/title-exact?Mr.%20Holland's%20Opus%20(1995)"]], dtype=object), array([[28, 'Apollo 13 (1995)', '01-Jan-1995', nan,
        'http://us.imdb.com/M/title-exact?Apollo%2013%20(1995)']], dtype=object)]

In [94]:
dss

[array([[14, 'Postino, Il (1994)', '01-Jan-1994', nan,
         'http://us.imdb.com/M/title-exact?Postino,%20Il%20(1994)']], dtype=object),
 array([[15, "Mr. Holland's Opus (1995)", '29-Jan-1996', nan,
         "http://us.imdb.com/M/title-exact?Mr.%20Holland's%20Opus%20(1995)"]], dtype=object),
 array([[28, 'Apollo 13 (1995)', '01-Jan-1995', nan,
         'http://us.imdb.com/M/title-exact?Apollo%2013%20(1995)']], dtype=object)]

In [83]:
train = pd.read_csv('u1.base', sep='\t', names=['u_id','m_id','rating', 'unix_timestamp'], encoding='latin-1')
# test = pd.read_csv(r'u1.test',sep='\t', names=['u_id','m_id','rating','unix_timestamp'], encoding='latin-1')
train_list = np.zeros([943, 1682])
for i in range(len(train.values)):
    train_list[train.values[i][0]-1][train.values[i][1]-1] = train.values[i][2]
test_list = np.zeros([943, 1682])
for i in range(len(test.values)):
    test_list[test.values[i][0]-1][test.values[i][1]-1] = test.values[i][2]
    
print(train_list[100][:20])
print(test_list[100][:20])

[ 3.  0.  0.  0.  0.  0.  3.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.]
[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.]

In [113]:
right = 0
error = 0
for i in range(2):
    u__ = random.randint(10,900)
    result = list(user_nice(train_list, u__, 5))
    for j in result:
        if j[0][0] in np.transpose(np.nonzero(train_list[u__])):
            right+=1
        else:
            error+=1

100%|██████████████████████████████████████████████████████████████████████████████| 943/943 [00:00<00:00, 1092.56it/s]

数量足够一共5,分别是[array([[300, 'Air Force One (1997)', '01-Jan-1997', nan,
        'http://us.imdb.com/M/title-exact?Air+Force+One+(1997)']], dtype=object), array([[315, 'Apt Pupil (1998)', '23-Oct-1998', nan,
        'http://us.imdb.com/Title?Apt+Pupil+(1998)']], dtype=object), array([[316, 'As Good As It Gets (1997)', '23-Dec-1997', nan,
        'http://us.imdb.com/Title?As+Good+As+It+Gets+(1997)']], dtype=object), array([[331, 'Edge, The (1997)', '26-Sep-1997', nan,
        'http://us.imdb.com/M/title-exact?Edge%2C+The+(1997/I)']], dtype=object), array([[339, 'Mad City (1997)', '01-Jan-1997', nan,
        'http://us.imdb.com/M/title-exact?Mad+City+(1997)']], dtype=object)]

100%|██████████████████████████████████████████████████████████████████████████████| 943/943 [00:00<00:00, 1107.98it/s]

数量足够一共5,分别是[array([[288, 'Scream (1996)', '20-Dec-1996', nan,
        'http://us.imdb.com/M/title-exact?Scream%20(1996)']], dtype=object), array([[292, 'Rosewood (1997)', '21-Feb-1997', nan,
        'http://us.imdb.com/M/title-exact?Rosewood%20(1997)']], dtype=object), array([[294, 'Liar Liar (1997)', '21-Mar-1997', nan,
        'http://us.imdb.com/Title?Liar+Liar+(1997)']], dtype=object), array([[324, 'Lost Highway (1997)', '21-Feb-1997', nan,
        'http://us.imdb.com/Title?Lost+Highway+(1997)']], dtype=object), array([[898, 'Postman, The (1997)', '01-Jan-1997', nan,
        'http://us.imdb.com/M/title-exact?imdb-title-119925']], dtype=object)]

In [115]:
print('正确率为{0}'.format(right/(right+error)))

正确率为0.2

In [ ]:
print('召回率{0}'.format())

In [87]:
random.randint(10,20)

14